<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <meta name="description" content="An alternative frontend for LBRY/Odysee.">

  <meta property="og:site_name" content="Librarian">
  <meta property="og:url" content="{{config.DOMAIN}}/">
  <meta property="og:title" content="{{category.Name}}">
  <meta property="og:image" content="{{config.DOMAIN}}/static/favicon/apple-touch-icon.png">
  <meta property="og:description" content="An alternative frontend for LBRY/Odysee.">
  <meta property="og:type" content="website">

  <title>{{category.Name}} - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2 class="sectionHeader">{{category.Name}}</h2>
    <div class="claimsGrid">
      {{#each claims}}
      {{> 'partials/claim' }}
      {{/each}}
    </div>
  </main>

  {{> 'partials/footer' }}

  <script src="/sw.js"></script>
</body>

</html>